<include file="Common/header"/>
<body>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
            <a href="javascript:;" id="ddd" class="btn btn-danger radius">
                <i class="Hui-iconfont">&#xe6e2;</i> 批量删除
            </a>
            <a class="btn btn-primary radius" href="javascript:;" onclick="admin_role_add('添加角色','{:U("add_school")}','800')">
                <i class="Hui-iconfont">&#xe600;</i> 添加学校
            </a>
        </span>
        <span class="r">共有数据：<strong>{$num}</strong> 条</span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="8">功能节点管理</th>
        </tr>
        <tr class="text-c">
            <th width="25"><input type="checkbox" value="" name=""></th>
            <th width="40">ID</th>
            <th width="200">学校名称</th>
            <th>联系方式</th>
            <th>联系人</th>
            <th>学校地址</th>
            <th>所在地区</th>
            <th width="70">操作</th>
        </tr>
        </thead>
        <tbody>
        <volist name="list" id="v">
        <tr class="text-c  ">
            <td><input type="checkbox" value="" name="" class="delet" data-id="{$v.uid}"></td>
            <td>{$v.uid}</td>
            <td>{$v.name}</td>
            <td>{$v.contact}</td>
            <td>{$v.contacts}</td>
            <td>{$v.address}</td>
            <td>{$v.area}</td>
            <td class="f-14">
                <a title="编辑" href="javascript:;" onclick="admin_role_edit('角色编辑','{:U('edit_school',[id => $v['uid']])}','{$v.uid}')" style="text-decoration:none">
                    <i class="Hui-iconfont">&#xe6df;</i>
                </a>
                <a title="删除" href="javascript:;" onclick="admin_role_del(this,'{$v.uid}')" class="ml-5" style="text-decoration:none">
                    <i class="Hui-iconfont">&#xe6e2;</i></a></td>
        </tr>
        </volist>
        </tbody>
    </table>
    <div style="margin-top: 10px;">
        {$page}
    </div>

</div>

<include file="Common/js"/>

<script type="text/javascript" src="/JW/static/back/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    /*管理员-角色-添加*/
    function admin_role_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
    /*管理员-角色-编辑*/
    function admin_role_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    $(function () {
        var ids=[];
       $('#ddd').on('click',function () {
           $('.delet').each(function () {
               if($(this).prop('checked'))
               {
                   ids.push($(this).attr('data-id'));
               }
           })
          $.post('{:U('school/delete_all')}',{ids:ids},function (e) {
              console.log(e);
//               if(e.sattus)
//               {
//                   $(this).parent().parents("tr").remove();
//                   layer.msg(e.info,{icon:1,time:1000});
//               }
           })
       })
    });

    /*管理员-角色-删除*/
    function admin_role_del(obj,id){
        layer.confirm('角色删除须谨慎，确认要删除吗？',function(index){
            $.ajax({
                type: 'POST',
                url: '{:U('delete_school')}',
                dataType: 'json',
                data:{id:id},
                success: function(data){
                    if(data.status)
                    {
                        $(obj).parents("tr").remove();
                        layer.msg(data.info,{icon:1,time:1000});
                    }else
                    {
                    layer.msg(data.info,{icon:1,time:1000});
                    }
                },
            });
        });
    }
</script>
</body>
</html>